/* Style Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* App-specific CSS below */

body {
  font-size: 20px;
  background-color: #dedede;
}

header {
  height: 80px;
  width: 100%;
  margin-bottom: 50px;
  padding-top: 30px;
  background-color: #343434;
}

footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background:#999;
  color: white;
  font-size: 14px;
  text-align: center;
  padding-top: 20px;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  color: #C05040;
  font-size: 36pt;
  text-align: center;
}

.input_slider_table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
  /* border: 1px solid black; */
}

.input_slider {
  width: 100%;
}

.label_cell {
  /* border: 1px solid black; */
}

.slider_cell {
  padding-left: 40px;
  padding-right: 40px;
}

.slider_label {
  font-style:
}

#content_section {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 960px;
  /* border: 1px solid red; */
}

#input_params_section {
  width: 300px;
  float: left;
}

#area_scope_slider {
}

#event_size_slider {

}

#result_section {
  display: table;
  width: 640px;
  float: right;
  border-left-width: 1px;
  border-left-color: #979797;
  border-left-style: dashed;
  padding-left: 10px;
}

#result_section p {
  margin-bottom: 10px;
}

#probability:first-letter {
  float: left;
  color: #C05040;
  font-size: 200%;
  padding-right: 8px;
  padding-left: 3px;
}

h3 {
  margin-bottom: 5px;
}

h3, .slider_label {
  color: #C05040;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 70%;
}

p:after, div:after {
  content: "";
  display: table;
  clear: both;
}
